@model List<SpadCompanyPanel.Core.Models.FoodGallery>
@{
    ViewBag.Title = "محصولات";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
}

<div id="parent-page" class="parent-page">
    <div class="container rtl">


        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">محصولات</a></li>
                <li class="breadcrumb-item"><a href="#">دستکش</a></li>
                <li class="breadcrumb-item active" aria-current="page">دستکش بهداشتی</li>
            </ol>
        </nav>
        <h1 class="page-title">دستکش بهداشتی</h1>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="products">
                    <img src="~/content/client/wp-content/themes/uniqo/img/product/23.png" alt="">
                    <h2 class="product-title">
                        ماسک سه لایه
                    </h2>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="products">
                    <img src="~/Content/client/wp-content/themes/uniqo/img/product/1.png" alt="">
                    <h2 class="product-title">
                        ماسک سه لایه
                    </h2>
                </div>
            </div>
        </div>


    </div>


</div>